---
interface Props {
  equipment: string[];
  resources: string[];
}

const { equipment, resources } = Astro.props;
---

<div class="rewards-container grid grid-cols-1 md:grid-cols-2 gap-6">
  <div class="reward-category">
    <h3 class="reward-category-title">
      <span class="category-icon equipment"></span>
      Équipement
    </h3>
    <ul class="reward-list">
      {equipment.map((item) => (
        <li class="reward-item">{item}</li>
      ))}
    </ul>
  </div>
  
  <div class="reward-category">
    <h3 class="reward-category-title">
      <span class="category-icon resources"></span>
      Ressources
    </h3>
    <ul class="reward-list">
      {resources.map((item) => (
        <li class="reward-item">{item}</li>
      ))}
    </ul>
  </div>
</div>

<style>
  .category-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 0.75rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .category-icon.equipment {
    background-image: url('/icons/equipment.svg');
  }
  
  .category-icon.resources {
    background-image: url('/icons/resources.svg');
  }
</style> 