---
// src/layouts/Layout.astro
import { A } from "@/components/ui/composant";
import { Container } from "@/components/ui/container";
import Navigation from "../layouts/navigation.astro";
import "../styles/global.css";

const {
  title,
  description = "Guide complet pour Wakfu - Classes, Donjons, Quêtes et plus encore",
} = Astro.props;

const currentYear = new Date().getFullYear();

// Liens du pied de page
const footerLinks = [
  { text: "Accueil", href: "/" },
  { text: "Classes", href: "/classe" },
  { text: "Donjons", href: "/donjon" },
  { text: "Quêtes", href: "/quetes" },
];
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | NexusWakfu</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body
    class="text-white min-h-screen flex flex-col bg-gradient-to-tl from-[#304352]/90 to-[#0f011b]"
  >
    <Navigation />

    <main class="flex flex-col w-full rounded-none border-none min-h-screen">
      <slot />
    </main>

    <footer>
      <Container
        className="flex flex-col items-center justify-center w-full  rounded-none p-6 mx-auto text-center"
      >
        <h1 class="text-white">
          ©Nexus Wakfu 2025 est un fan site sur le jeux Wakfu Créer par Ankama
          ce site n'est pas affilié à Ankama <A
            href="https://www.wakfu.com/en/mmorpg"
            target="_blank">Site officiel de Wakfu</A
          >
        </h1>
      </Container>
    </footer>
  </body>
</html>
